.tapple {
  .letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .letter {
    width: 8vmax;
    height: 8vmax;

    margin: 1rem;
    font-size: 5vmax;
  }

  .category {
    font-weight: bold;
    max-width: 20vw;
    width: 100%;
  }
}
