.themind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;
}

.themind .marker-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 3rem;
}

.themind .left,
.themind .right {
  width: 100px;
}

.themind .middle {
  width: 100%;
}

.themind .btn {
  margin: 2rem;
}

.themind .level-fill {
  background-color: #006aff;
  color: #fff;
}

.themind .square {
  margin: 0.5rem;
  width: 7vh;
  height: 7vh;
}

.themind .player-count {
  position: absolute;
  left: 0.5rem;
  bottom: 0;

  font-size: 1.2rem;
  color: #006aff;
}

.themind .level-fill .player-count {
  color: #fff;
}

.themind .levels .square .icon {
  width: 25%;
  height: 25%;
}

.themind .lifes .square .icon,
.themind .stars .square .icon {
  width: 50%;
  height: 50%;
}

.themind .icon-heart svg {
  fill: #e03131;
}

.themind .icon-star svg {
  fill: #fcc419;
}

.themind .icon-disabled svg {
  fill: #eee;
}

.themind .icon-heart[disabled] svg,
.themind .icon-star[disabled] svg {
  fill: #eee;
}

.themind .levels,
.themind .lifes,
.themind .stars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.themind .levels .square {
  border-color: #006aff;
}

.themind .lifes .square {
  border-color: red;
}

.themind .stars .square {
  border-color: darkgrey;
}

.themind .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
