.loading {
  border: 3px solid hsla(0, 0%, 62%, 0.3);
  border-top-color: #202020;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1s linear infinite;

  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
